<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" color="light"></ion-menu-button>
    <ion-title>Extrato de Pontos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> Pontos / Validade </ion-card-header>
    <!--Verificar como vai elaborar a lista conjunta Pontos e Validade-->
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>01</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>02</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>03</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>04</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>05</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>06</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>07</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>08</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!--
  [ Elaborar Paginação ou rolamento infinito disponivel no Ionic ]
  <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
-->
